@model AllCarsListingViewModel

@{
    ViewData["Title"] = "All Agency cars";
}

@{
    string previousDisabled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
    string nextDisabled = Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty;
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-success" asp-area="Agency" asp-controller="Cars" asp-action="Create">Add car</a>
        <a class="btn btn-primary" asp-area="Agency" asp-controller="Cars" asp-action="AllReturnedCars">Returned cars</a>
    </div>
</div>
<br />

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @previousDisabled">
            <a class="page-link"
               asp-area="Agency"
               asp-controller="Cars"
               asp-action="All"
               asp-route-page="@Model.PreviousPage"
               tabindex="-1">Previous</a>
        </li>

        <li class="page-item @nextDisabled">
            <a class="page-link" asp-area="Agency" asp-controller="Cars" asp-action="All" asp-route-page="@Model.NextPage" tabindex="+1">Next</a>
        </li>
    </ul>
</nav>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Car Make
            </th>
            <th>
                Car Model
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Available
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
            {
            <tr>
                <th>
                    <a href="http://localhost:58291/cars/details/@car.Id">
                        <img src="@car.ImgUrl" alt="..." class="img-thumbnailDesctop">
                    </a>
                </th>
                <th>
                    @car.Make
                </th>
                <th>
                    @car.Model
                </th>
                <th>
                    @car.Price &#36;
                </th>
                <th>
                    @car.Category
                </th>
                <th>
                    @(car.IsReserved ? "No" : "Yes")
                </th>
                <th>
                    <a class="btn btn-info" asp-area="" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">Details</a>
                    <a class="btn btn-warning" asp-area="Agency" asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id">Edit</a>
                    <a class="btn btn-danger" asp-area="Agency" asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @previousDisabled">
            <a class="page-link"
               asp-area="Agency"
               asp-controller="Cars"
               asp-action="All"
               asp-route-page="@Model.PreviousPage"
               tabindex="-1">Previous</a>
        </li>

        <li class="page-item @nextDisabled">
            <a class="page-link" asp-area="Agency" asp-controller="Cars" asp-action="All" asp-route-page="@Model.NextPage" tabindex="+1">Next</a>
        </li>
    </ul>
</nav>


