@model IEnumerable<CarDetailsServiceModel>

<div class="row home-page">
    @foreach (var car in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">@car.Make @car.Model</a>
                    </h3>
                </div>
                <div class="panel-body">
                    @{
                        var Base64 = car.Image.Data != null ? Convert.ToBase64String(car.Image.Data) : string.Empty;
                        var imgSrc = String.Format("data:image/png;base64,{0}", Base64);
                    }
                    <a href="http://localhost:58291/cars/details/@car.Id"> 
                        <img src="@imgSrc" alt="" class="img-thumbnailDesctop" />
                    </a>
                    <br />
                    <p class="text-center">@car.Agency.Name - Price: <font color="green"><strong>@car.Price &#36;</strong></font></p>
                    <div class="text-center">
                        <p><a href="http://localhost:58291/cars/details/@car.Id" class="btn btn-primary btn-sm">More Details &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

