@model CarDetailsServiceModel

@{
    var Base64 = Model.Image.Data != null ? Convert.ToBase64String(Model.Image.Data) : string.Empty;
    var imgSrc = String.Format("data:image/png;base64,{0}", Base64);
}


<div class="row">
    <div class="col-md-9">
        <h1>@Model.Agency.Name</h1>
    </div>
    <img src="@imgSrc" alt="..." class="car-details-image"/>
    <div>
        <h3>Price per day: @Model.Price &#36;</h3>
    </div>
    <div>
        <h4 class="glyphicon glyphicon-globe"> City: @Model.City.Name</h4>
    </div>
    <p>
        <span class="glyphicon glyphicon-list-alt"></span> Make: @Model.Make
    </p>
    <p>
        <span class="glyphicon glyphicon-list-alt"></span> Model: @Model.Model
    </p>
    <p>
        <span class="glyphicon glyphicon-wrench"></span> Category: @Model.Category
    </p>
    <p>
        <span class="glyphicon glyphicon-tint"></span> Fuel type: @Model.FuelType
    </p>
    <p>
        <span class="glyphicon glyphicon-asterisk"></span> Air Conditioner: @(Model.AirConditioner ? "Yes" : "No")
    </p>
    <p>
        <span class="glyphicon glyphicon-send"></span> Navigation: @(Model.Navigation ? "Yes" : "No")
    </p>
    <p>
        <span class="glyphicon glyphicon-cog"></span> Abs: @(Model.Abs ? "Yes" : "No")
    </p>
    <p>
        <span class="glyphicon glyphicon-cog"></span> Asp: @(Model.Asp ? "Yes" : "No")
    </p>
    <p>
        <span class="glyphicon glyphicon glyphicon-music"></span> Mp3 Player: @(Model.Mp3Player ? "Yes" : "No")
    </p>
</div>

@if (User.IsInRole(WebConstants.AgencyRole))
{
    <a class="btn btn-default" asp-area="Agency" asp-controller="Cars" asp-action="All">Back</a>
}
@if (!User.IsInRole(WebConstants.AgencyRole))
{
    <form method="post">
        <div>
            <a asp-controller="Booking" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Book Now</a>
            <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
        </div>
    </form>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
