@model BookingDetailsModel

@{
    ViewData["Title"] = "Booking Summary";
}

<h1>@ViewData["Title"]</h1>
<div>
    <a class="btn btn-success" asp-area="" asp-controller="Users" asp-action="BookingHistory">My booking history</a>
</div>
<br />
@if (Model != null)
{
    <div class="row">
        @{
            var base64 = Model.Car.Image.Data != null ? Convert.ToBase64String(Model.Car.Image.Data) : string.Empty;
            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
        }
        <img src="@imgSrc" alt="" class="car-details-image" />
        <div>
            <p>Car model</p>
            <p>@Model.Car.Make  @Model.Car.Model</p>
        </div>
        <div>
            <p>Name</p>
            <p>@Model.User.FirstName @Model.User.LastName</p>
        </div>
        <div>
            <p>Start date</p>
            <p>@Model.StartDate.Date.ToString("d-MMM-yyyy")</p>
        </div>
        <div>
            <p>Return date</p>
            <p>@Model.ReturnDate.Date.ToString("d MMM yyyy")</p>
        </div>
        <div>
            <h2>Final Price: @Model.Price &#36;</h2>
        </div>
    </div>
            }
            else
            {
                <p>No booking yet.</p>
            }


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
